<?xml version="1.0"?>


<config>
    <modules>
        <Pumcp_Payments>
            <version>0.1</version>
        </Pumcp_Payments>
    </modules>
    <global>
    	<models>
    		<pumcp>
	    		<class>Pumcp_Payments_Model</class>
	    	</pumcp>
    	</models>
    	<helpers>
    		<pumcp>
    			<class>Pumcp_Payments_Helper</class>
    		</pumcp>
    	</helpers>
    	<blocks>
            <pumcp>
            	<class>Pumcp_Payments_Block</class>
            </pumcp>
        </blocks>
        <resources>
            <pumcp_setup>
                <setup>
                    <module>Pumcp_Payments</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </pumcp_setup>
            <pumcp_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </pumcp_write>
            <pumcp_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </pumcp_read>
        </resources>
      <events>
        <controller_action_postdispatch_checkout_onepage_saveOrder>
          <observers>
            <output_pumcp_redirect>
              <type>singleton</type>
              <class>Pumcp_Payments_Model_Observer</class>
              <method>output_pumcp_redirect</method>
            </output_pumcp_redirect>
          </observers>
        </controller_action_postdispatch_checkout_onepage_saveOrder>
      </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <pumcp>
                    <file>pumcp.xml</file>
                </pumcp>
            </updates>
        </layout>
        <routers>
            <pumcp>
                <use>standard</use>
                <args>
                    <module>Pumcp_Payments</module>
                    <frontName>pumcp</frontName>
                </args>
            </pumcp>
        </routers>
        <secure_url>
            <pumcp_redirect>/pumcp/redirect/</pumcp_redirect>
        </secure_url>
    </frontend>
	<default>
        <payment>
            <pumcp>
                <model>pumcp/checkout</model>
                <active>1</active>
                <title>Pumcp (Credit Card, Debit Card, Netbanking)</title>
                <username>Enter Pumcp API Key</username>
                <password>Enter Pumcp API Secret</password>
                <sort_order>0</sort_order>
            </pumcp>
        </payment>
    </default>
</config>