<?xml version="1.0"?>
<config>
    <modules>
        <Solwin_AttributeImage>
            <version>1.0.0</version>
        </Solwin_AttributeImage>
    </modules>
    <global>
        <resources>
            <solwin_attributeimage_setup>
                <setup>
                    <module>Solwin_AttributeImage</module>
                    <class>Solwin_AttributeImage_Model_Resource_Mysql4_Setup</class>
                </setup>
            </solwin_attributeimage_setup>
        </resources>
        <models>
            <solwin_attributeimage>
                <class>Solwin_AttributeImage_Model</class>
            </solwin_attributeimage>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <attribute>Solwin_AttributeImage_Model_Catalog_Resource_Eav_Mysql4_Attribute</attribute>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Solwin_AttributeImage_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
            <eav_mysql4>
                <rewrite>
                    <entity_attribute_option>Solwin_AttributeImage_Model_Eav_Mysql4_Entity_Attribute_Option</entity_attribute_option>
                </rewrite>
            </eav_mysql4>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>Solwin_AttributeImage_Block_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <attributeimage>
                <class>Solwin_AttributeImage_Helper</class>
            </attributeimage>
            <cms>
                <rewrite>
                    <wysiwyg_images>Solwin_AttributeImage_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Solwin_AttributeImage before="Mage_Adminhtml">Solwin_AttributeImage</Solwin_AttributeImage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
                <observers>
                    <update_layout>
                        <class>solwin_attributeimage/observer</class>
                        <method>updateLayout</method>
                    </update_layout>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
        </events>
    </adminhtml>
</config>