<?xml version="1.0"?>
<config>
    <modules>
        <Wyomind_Licensemanager>
            <version>3.5.1</version>
        </Wyomind_Licensemanager>
    </modules>
    <frontend>
        <routers>
            <licensemanager>
                <use>standard</use>
                <args>
                    <module>Wyomind_Licensemanager</module>
                    <frontName>licensemanager</frontName>
                </args>
            </licensemanager>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <licensemanager>
                    <file>licensemanager.xml</file>
                </licensemanager>
            </updates>
        </layout>
        <events>
            <model_config_data_save_before>
                <observers>
                    <wyomind_advancedinventory_save_config>
                        <type>model</type>
                        <class>Wyomind_Licensemanager_Model_Observer</class>
                        <method>saveConfig</method>
                    </wyomind_advancedinventory_save_config>
                </observers>
            </model_config_data_save_before>
        </events>
    </adminhtml>   
    <global>
        <blocks>
            <licensemanager>
                <class>Wyomind_Licensemanager_Block</class>
            </licensemanager>
        </blocks>
        <helpers>
            <licensemanager>
                <class>Wyomind_Licensemanager_Helper</class>
            </licensemanager>
        </helpers>
        <models>
            <licensemanager>
                <class>Wyomind_Licensemanager_Model</class>
            </licensemanager>
        </models>
    </global>
</config>