<?xml version="1.0"?>
<config>
    <modules>
        <Fuel_Trackyourorder>
            <version>0.1.1</version>
        </Fuel_Trackyourorder>
    </modules>
    <frontend>
        <routers>
            <trackyourorder>
                <use>standard</use>
                <args>
                    <module>Fuel_Trackyourorder</module>
                    <frontName>trackyourorder</frontName>
                </args>
            </trackyourorder>
        </routers>
        <layout>
            <updates>
                <trackyourorder>
                    <file>trackyourorder.xml</file>
                </trackyourorder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Fuel_Trackyourorder>
                    <files>
                        <default>Trackyourorder.csv</default>
                    </files>
                </Fuel_Trackyourorder>
            </modules>
        </translate>
    </frontend>
   <adminhtml>
         <translate>
            <modules>
                <Fuel_Trackyourorder>
                    <files>
                        <default>Trackyourorder.csv</default>
                    </files>
                </Fuel_Trackyourorder>
            </modules>
        </translate>
   </adminhtml>  
    <global>
   <blocks>
      <sales>
         <rewrite>
           <order_history>fuel_trackyourorder_block_trackyourorder</order_history>          
         </rewrite>  
        <rewrite>           
           <order_recent>fuel_trackyourorder_block_trackrecentorder</order_recent>
         </rewrite>
      </sales>
	  <catalogsearch>
		<rewrite>
		   <catalogsearch_term>Fuel_Trackyourorder_Block_Term</catalogsearch_term>
		</rewrite>
	 </catalogsearch>
</blocks>
        <resources>
            <trackyourorder_setup>
                <setup>
                    <module>Fuel_Trackyourorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </trackyourorder_setup>
            <trackyourorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </trackyourorder_write>
            <trackyourorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </trackyourorder_read>
        </resources>
        <blocks>
            <trackyourorder>
                <class>Fuel_Trackyourorder_Block</class>
            </trackyourorder>
        </blocks>
        <helpers>
            <trackyourorder>
                <class>Fuel_Trackyourorder_Helper</class>
            </trackyourorder>
        </helpers>
		<sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
		<events>
			<sales_order_save_after>
				<observers>
					<trackyourorder_order_save_after>
						<type>singleton</type>
						<class>Fuel_Trackyourorder_Model_Observer</class>
						<method>sendOrderMessage</method>
					</trackyourorder_order_save_after>
				</observers>
			</sales_order_save_after>
		</events>
</global>
</config>