<?xml version="1.0"?>
<config>
  <modules>
    <Emipro_Sellerproduct>
      <version>1.0.0</version>
    </Emipro_Sellerproduct>
  </modules>
  <global>
    <events>
        <adminhtml_block_html_before>
            <observers>
                <sellerproduct_adminhtml_block_html_before>
                    <class>sellerproduct/observer</class>
                    <method>adminhtml_block_html_before</method>
                </sellerproduct_adminhtml_block_html_before>
            </observers>
        </adminhtml_block_html_before>
        <model_save_after>
            <observers>
                <sellerproduct_after_save>
                    <type>singleton</type>
                    <class>sellerproduct/observer</class>
                    <method>onBeforeSave</method>
                </sellerproduct_after_save>
            </observers>
        </model_save_after>
    </events>
	<helpers>
        <sellerproduct>
            <class>Emipro_Sellerproduct_Helper</class>
        </sellerproduct>
    </helpers>
	<blocks>
	    <sellerproduct>
	       <class>Emipro_Sellerproduct_Block</class>
	    </sellerproduct>
        <marketplace>
            <rewrite>
                <adminhtml_sellerlist_edit_tabs>Emipro_Sellerproduct_Block_Adminhtml_Sellerproduct</adminhtml_sellerlist_edit_tabs>
            </rewrite>
            <rewrite>
                <products>Emipro_Sellerproduct_Block_Sellerprofile</products>
            </rewrite>
        </marketplace>
	</blocks>
	<models>    
		<sellerproduct>
                <class>Emipro_Sellerproduct_Model</class>
                <resourceModel>sellerproduct_resource</resourceModel>
        </sellerproduct>
        <sellerproduct_resource>
            <class>Emipro_Sellerproduct_Model_Resource</class>
            <entities>
                <sellerproductmodel>
                    <table>emipro_sellerproduct</table>
                </sellerproductmodel>
            </entities>
        </sellerproduct_resource>
    </models>
    <resources>
        <sellerproduct_setup>
            <setup>
                <module>Emipro_Sellerproduct</module>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
        </sellerproduct_setup>
        <sellerproduct_write>
            <connection>
                <use>core_write</use>
            </connection>
        </sellerproduct_write>
        <sellerproduct_read>
            <connection>
                <use>core_read</use>
            </connection>
        </sellerproduct_read>
    </resources>
  </global>
  <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Emipro_Sellerproduct before="Mage_Adminhtml">Emipro_Sellerproduct_Adminhtml</Emipro_Sellerproduct>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
	    <layout>
			<updates>
				<sellerproduct> 
				   <file>sellerproduct.xml</file>
				</sellerproduct>
			</updates>
        </layout>
    </adminhtml>
    <default>
        <marketplace_setting>
            <marketplace>
                <displaysellerproduct>9</displaysellerproduct>
            </marketplace>
        </marketplace_setting>
    </default>
</config>  
 
