<?xml version="1.0"?>
<config>
  <modules>
    <Emipro_Sellerreport>
      <version>1.0.0</version>
    </Emipro_Sellerreport>
  </modules>
  <global>
    <helpers>
      <sellerreport>
        <class>Emipro_Sellerreport_Helper</class>
      </sellerreport>
    </helpers>
    <blocks>
      <sellerreport>
        <class>Emipro_Sellerreport_Block</class>
      </sellerreport>
    </blocks>
	<models>
	  <sellerreport>
		<class>Emipro_Sellerreport_Model</class>
		<resourceModel>sellerreport_mysql4</resourceModel>
	  </sellerreport>
			<reports_resource>
				<rewrite>
					<product_sold_collection>Emipro_Sellerreport_Model_Reports_Resource_Product_Sold_Collection</product_sold_collection>
				</rewrite>
			</reports_resource>
			<reports>
				<rewrite>
					<report>Emipro_Sellerreport_Model_Reports_Report</report>
				</rewrite>
			</reports>
			<reports>
				<rewrite>
					<totals>Emipro_Sellerreport_Model_Reports_Totals</totals>
				</rewrite>
			</reports>
	</models>
	<events>  
		<core_block_abstract_to_html_before>
			<observers> 
				<emipro_sellerreport>
					<type>singleton</type> 
					<class>Emipro_Sellerreport_Model_Observer</class>
					<method>checkblock</method>
				</emipro_sellerreport>
			</observers>
		</core_block_abstract_to_html_before>
	</events>
  </global>
</config> 
