<?xml version="1.0"?>
<config>
  <modules>
    <Emipro_Stocknotification>
      <version>1.0.0</version>
    </Emipro_Stocknotification>
  </modules>
  <global>
    <events>
       <adminhtml_block_html_before>
            <observers>
                <stocknotification_adminhtml_block_html_before>
                    <class>stocknotification/observer</class>
                    <method>adminhtml_block_html_before</method>
                </stocknotification_adminhtml_block_html_before>
            </observers>
        </adminhtml_block_html_before>
        <checkout_submit_all_after>
            <observers>
                <stocknotification_order_place>
                    <type>singleton</type>
                    <class>stocknotification/observer</class>
                    <method>checkoutSubmitAllAfter</method>
                </stocknotification_order_place>
            </observers>
        </checkout_submit_all_after>
        <model_save_before>
            <observers>
                <stocknotification_before_save>
                    <type>singleton</type>
                    <class>stocknotification/observer</class>
                    <method>onBeforeSave</method>
                </stocknotification_before_save>
            </observers>
        </model_save_before>
        <controller_action_predispatch>
            <observers>
                <stocknotification_seller_save>
                    <class>stocknotification/observer</class>
                    <method>sellerapprovecheck</method>
                </stocknotification_seller_save>
            </observers>
        </controller_action_predispatch>
    </events>
	<helpers>
      <stocknotification>
        <class>Emipro_Stocknotification_Helper</class>
      </stocknotification>
    </helpers>
	<blocks>
	  <stocknotification>
		<class>Emipro_Stocknotification_Block</class>
	  </stocknotification>
	</blocks>
	<models>    
		<stocknotification>
                <class>Emipro_Stocknotification_Model</class>
        </stocknotification>
    </models>
    <resources>
        <stocknotification_setup>
            <setup>
                <module>Emipro_Stocknotification</module>
            </setup>
            <connection>
			  <use>core_setup</use>
			</connection>
        </stocknotification_setup>
        <stocknotification_write>
            <connection>
                <use>core_write</use>
            </connection>
        </stocknotification_write>
        <stocknotification_read>
            <connection>
                <use>core_read</use>
            </connection>
        </stocknotification_read>
    </resources>
  </global>
  <admin>
        <routers>
            <stocknotification>  
                <use>admin</use>
                <args>
                    <module>Emipro_Stocknotification</module>
                    <frontName>stocknotification</frontName>
                </args>
            </stocknotification>
            <adminhtml>   
                <args>
                    <modules>
                        <Emipro_Stocknotification before="Mage_Adminhtml">Emipro_Stocknotification_Adminhtml</Emipro_Stocknotification>  
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lowstocknotification_setting>
                                            <title>Low Stock Notification</title>
                                        </lowstocknotification_setting>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Emipro_Stocknotification>
                    <files>
                        <default>Emipro_Stocknotification.csv</default>
                    </files>
                </Emipro_Stocknotification>
            </modules>
        </translate> 
	    <layout>
			<updates>
				<stocknotification> 
				   <file>stocknotification.xml</file>
				</stocknotification>
			</updates>
        </layout>
       
    </adminhtml>
    <default>
        <lowstocknotification_setting>
            <lowstocknotification>
                <stockquantity>5</stockquantity>
            </lowstocknotification>
        </lowstocknotification_setting>
    </default>
</config>  
 
