<?xml version="1.0"?>
<config>
  <modules>
    <Emipro_Marketplace>
      <version>1.1.2</version>
    </Emipro_Marketplace>
  </modules>
  <frontend>
    <routers>
      <marketplace>
        <use>standard</use>
          <args>
            <module>Emipro_Marketplace</module>
            <frontName>marketplace</frontName>
          </args>
      </marketplace>
    </routers>
		<layout>
		  <updates>
			<emipro_marketplace>
			  <file>marketplace.xml</file>
			</emipro_marketplace>
		  </updates>
		</layout>
         <translate>
            <modules>
                <Emipro_Marketplace>
                    <files>
                        <default>Emipro_Marketplace.csv</default>
                    </files>
                </Emipro_Marketplace>
            </modules>
        </translate>
  </frontend>
  <global>	
	  <helpers>
      <marketplace>
        <class>Emipro_Marketplace_Helper</class>
      </marketplace>
      <cms>
        <rewrite>
            <wysiwyg_images>Emipro_Marketplace_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
        </rewrite>
      </cms>
    </helpers>
	<blocks>
	  <marketplace>
		<class>Emipro_Marketplace_Block</class>
				<rewrite>
                    <product_list>Emipro_Marketplace_Block_Product_List</product_list>
                </rewrite>
	  </marketplace>
		<adminhtml>
                <rewrite>
                    <notification_toolbar>Emipro_Marketplace_Block_Adminhtml_Notification_Toolbar</notification_toolbar>
                </rewrite>
				<rewrite> 
					<catalog_product_grid>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
				</rewrite> 
				<rewrite>
				<sales_order_grid>Emipro_Marketplace_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
				</rewrite>
				<rewrite>
					<sales_order_view>Emipro_Marketplace_Block_Adminhtml_Sales_Order_View</sales_order_view>
				</rewrite>   
				<rewrite>
				<sales_shipment_grid>Emipro_Marketplace_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
				</rewrite>
				<rewrite>
				  <catalog_product_edit_tab_attributes>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
				</rewrite>
				<rewrite>
				  <catalog_product_edit_tab_settings>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tab_Settings</catalog_product_edit_tab_settings>
				</rewrite>
				<rewrite>
					<system_account_edit_form>Emipro_Marketplace_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
				</rewrite> 
				<rewrite> 
					<catalog_product_edit_tab_super_config_grid>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Grid</catalog_product_edit_tab_super_config_grid>
				</rewrite> 
				<rewrite>
					<catalog_product_edit_tabs>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
				</rewrite> 
				<rewrite>
					<catalog_product_edit_tab_super_group>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Group</catalog_product_edit_tab_super_group> 
				</rewrite>
				<rewrite>
					<sales_order_view_tab_shipments>Emipro_Marketplace_Block_Adminhtml_Sales_Order_View_Tab_Shipments</sales_order_view_tab_shipments>
				</rewrite>
				<rewrite>
					<sales_creditmemo_grid>Emipro_Marketplace_Block_Adminhtml_Sales_Creditmemo_Grid</sales_creditmemo_grid>
				</rewrite> 
				<rewrite>
					<sales_order_view_tab_creditmemos>Emipro_Marketplace_Block_Adminhtml_Sales_Order_View_Tab_Creditmemos</sales_order_view_tab_creditmemos>
				</rewrite> 
				<rewrite>
                    <sales_invoice_grid>Emipro_Marketplace_Block_Adminhtml_Sales_Invoice_Grid</sales_invoice_grid>
                </rewrite>
                <rewrite>
                    <sales_order_view_tab_invoices>Emipro_Marketplace_Block_Adminhtml_Sales_Order_View_Tab_Invoices</sales_order_view_tab_invoices>
                    <sales_order_view_tabs>Emipro_Marketplace_Block_Adminhtml_Sales_Order_View_Tabs</sales_order_view_tabs> 
                </rewrite> 
                <rewrite>
                    <catalog_product_edit_tab_related>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tab_Related</catalog_product_edit_tab_related> 
                   <catalog_product_edit_tab_upsell>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tab_Upsell</catalog_product_edit_tab_upsell>
                    <catalog_product_edit_tab_crosssell>Emipro_Marketplace_Block_Adminhtml_Catalog_Product_Edit_Tab_Crosssell</catalog_product_edit_tab_crosssell> 
                </rewrite>
		</adminhtml>
		<bundle>  
			<rewrite>
				<adminhtml_catalog_product_edit_tab_bundle_option_search_grid>Emipro_Marketplace_Block_Bundle_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option_Search_Grid</adminhtml_catalog_product_edit_tab_bundle_option_search_grid>
			</rewrite>
		</bundle> 
	</blocks>
	<models>    
		<marketplace>
                <class>Emipro_Marketplace_Model</class>
                <resourceModel>marketplace_mysql4</resourceModel>
        </marketplace>
            <marketplace_mysql4>
                <class>Emipro_Marketplace_Model_Mysql4</class>
                <entities>
                    <seller>
                        <table>seller_detail</table>
                    </seller>
                    <sellerbalancesheet>
                        <table>seller_balance_statement</table>
                    </sellerbalancesheet>
                    <list>
                        <table>seller</table>
                    </list>
                    <commission>
                        <table>seller_commission</table>
                    </commission>
                     <withdraw>
                        <table>seller_transaction</table>
                    </withdraw> 
                     <sellerrule>
                        <table>seller_rule</table>
                    </sellerrule>
                     <sellercategory>
                        <table>seller_category</table>
                    </sellercategory> 
                     <sellerreview>
                        <table>seller_review</table>
                    </sellerreview>  
                    <questionanswer>
                        <table>seller_question</table>
                    </questionanswer>  
                </entities>
            </marketplace_mysql4>
          <catalog>
			<rewrite>
				<category>Emipro_Marketplace_Model_Catalog_Category</category>
                <layer>Emipro_Marketplace_Model_Catalog_Layer</layer>
			</rewrite> 
		  </catalog>
		   <sales>
            <rewrite>
                <order_invoice>Emipro_Marketplace_Model_Order_Invoice</order_invoice>
            </rewrite>
			<rewrite>
				<order_invoice_total_shipping>Emipro_Marketplace_Model_Order_Invoice_Total_Shipping</order_invoice_total_shipping>
			</rewrite> 
			<rewrite>
					<order_pdf_invoice>Emipro_Marketplace_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
			</rewrite>
			<rewrite>
				<order_pdf_shipment>Emipro_Marketplace_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
			</rewrite>
			<rewrite>
				<order_pdf_creditmemo>Emipro_Marketplace_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
			</rewrite>
		  </sales>  
		  <sales_resource>
	<rewrite>
	<order_item_collection>Emipro_Marketplace_Model_Resource_Sales_Order_Item_Collection</order_item_collection>
	</rewrite>
	
</sales_resource>
 
        </models>
        <resources>
            <marketplace_setup>
                <setup>
                    <module>Emipro_Marketplace</module>
                </setup>
                <connection>
				  <use>core_setup</use>
				</connection>
            </marketplace_setup>
            <marketplace_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketplace_write>
            <marketplace_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketplace_read>
        </resources>
    <events> 
		<admin_system_config_changed_section_marketplace_setting>
			 <observers>
                    <customsaveconfig>
                        <class>Emipro_Marketplace_Model_Observer</class>
                        <method>saveCategoryCommission</method>
                    </customsaveconfig>
                    <emipro_marketplace>
                        <class>Emipro_Marketplace_Model_Observer</class>
                        <method>checkmarketplace</method>
                    </emipro_marketplace>
			 </observers>
		</admin_system_config_changed_section_marketplace_setting>
			<catalog_block_product_list_collection>
                <observers>
                    <marketplace_product_list_collection>
                        <class>Emipro_Marketplace_Model_Observer</class>
                        <method>hideproduct</method>
                    </marketplace_product_list_collection>
                </observers>
            </catalog_block_product_list_collection> 
            <catalog_controller_product_init_after>
                <observers>  
                    <marketplace_product_init_after>
                        <class>Emipro_Marketplace_Model_Observer</class>
                        <method>hideproduct_product_page</method> 
                    </marketplace_product_init_after>
                </observers>
            </catalog_controller_product_init_after>
		<adminhtml_block_html_before>
            <observers>
                <marketplace_adminhtml_block_html_before>
                    <class>Emipro_Marketplace_Model_Observer</class>
                    <method>adminhtml_block_html_before</method>
                </marketplace_adminhtml_block_html_before>
            </observers>
        </adminhtml_block_html_before>
        <adminhtml_catalog_product_edit_prepare_form>
            <observers>
                <marketplace_product_edit_prepare_observer>
                    <class>Emipro_Marketplace_Model_Observer</class>
                    <method>producteditbefore</method>
                </marketplace_product_edit_prepare_observer>
            </observers>
        </adminhtml_catalog_product_edit_prepare_form>
        <catalog_product_save_before>
            <observers> 
                <marketplace_product_save_observer>
                    <type>singleton</type>
                    <class>Emipro_Marketplace_Model_Observer</class>
                    <method>catalog_product_save_before</method>
               </marketplace_product_save_observer>
            </observers>
        </catalog_product_save_before>
        
       <sales_order_shipment_save_after>
                <observers>
                    <marketplace_shipment_save_observer>
                        <type>singleton</type>
                        <class>Emipro_Marketplace_Model_Observer</class>
                        <method>order_success_action</method>
                    </marketplace_shipment_save_observer>
                </observers>
        </sales_order_shipment_save_after>
        <controller_action_predispatch>
				<observers> 
					<marketplace_controller_action_after>
						<class>Emipro_Marketplace_Model_Observer</class>
						<method>methodcheck</method>  
					</marketplace_controller_action_after> 
				</observers>
		</controller_action_predispatch>
        <controller_action_postdispatch>
            <observers> 
                <emipro_marketplace>
                    <class>Emipro_Marketplace_Model_Observer</class>
                    <method>postmethodcheck</method>  
                </emipro_marketplace> 
            </observers>
        </controller_action_postdispatch>
		<sales_order_invoice_save_after>
			<observers>  
				<marketplace_invoice_save_observer>             
					<class>Emipro_Marketplace_Model_Observer</class>
					<method>orderinvoicemail</method>
				</marketplace_invoice_save_observer>
			</observers>  
        </sales_order_invoice_save_after>
        <catalog_product_attribute_update_before>
			<observers>  
				<marketplace_product_attribute_update_observer>             
					<class>Emipro_Marketplace_Model_Observer</class>
					<method>productBulkattributeupdate</method>
				</marketplace_product_attribute_update_observer>
			</observers>  
        </catalog_product_attribute_update_before> 
         <sales_order_save_commit_after>
                <observers>
                    <marketplace_order_save_commit>
                        <type>singleton</type> 
                        <class>Emipro_Marketplace_Model_Observer</class>
                        <method>order_save_commit</method>
                    </marketplace_order_save_commit>
                </observers>
        </sales_order_save_commit_after>
        <admin_session_user_login_failed>
			<observers>
			  <admin_session_user_login_failed_handler>
				<class>Emipro_Marketplace_Model_Observer</class>
				<method>validateLogin</method>
			  </admin_session_user_login_failed_handler>
			</observers>
		</admin_session_user_login_failed>
		<admin_session_user_login_success>
                <observers>
                    <emipro_marketplace>
                        <class>Emipro_Marketplace_Model_Observer</class>
                        <method>adminloginSuccess</method>
                    </emipro_marketplace>
                </observers>  
        </admin_session_user_login_success>
		 <sales_quote_item_set_product>
                <observers>
                    <emipro_marketplace> 
                        <class>marketplace/observer</class>
                        <method>salesQuoteItemSetSellerId</method>
                    </emipro_marketplace>
                </observers> 
        </sales_quote_item_set_product> 

        
    <sales_order_creditmemo_save_before> 
        <observers>
          <sales_order_creditmemo_save_before_handler> 
            <type>model</type> 
            <class>marketplace/observer</class> 
            <method>checkShippingFeesInCreditmemo</method>  
            <args></args>
          </sales_order_creditmemo_save_before_handler>
        </observers>
      </sales_order_creditmemo_save_before> 
    
    <sales_order_creditmemo_save_after> 
        <observers>
          <sales_order_creditmemo_save_after_handler> 
            <type>model</type> 
            <class>marketplace/observer</class> 
            <method>saveShippingFeesInCreditmemo</method>  
            <args></args>
          </sales_order_creditmemo_save_after_handler>
        </observers>
    </sales_order_creditmemo_save_after>   
      
  <sales_order_invoice_save_before> 
        <observers>
          <sales_order_invoice_save_before_handler> 
            <type>model</type> 
            <class>marketplace/observer</class> 
            <method>setShippingFeesInInvoice</method>  
            <args></args>
          </sales_order_invoice_save_before_handler>
        </observers>
      </sales_order_invoice_save_before> 
        <adminhtml_catalog_product_attribute_edit_prepare_form>
            <observers>
                <emipro_marketplace>
                    <type>singleton</type>
                    <class>marketplace/observer</class>
                    <method>addFieldToAttributeEditForm</method>
                </emipro_marketplace>
            </observers>
        </adminhtml_catalog_product_attribute_edit_prepare_form>
        
    </events>
		 <fieldsets>
            <sales_convert_quote_item>
                <seller_id>
                    <to_order_item>*</to_order_item>
                </seller_id>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <seller_id>
                    <to_quote_item>*</to_quote_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                    <to_cm_item>*</to_cm_item>
                </seller_id>
            </sales_convert_order_item>
        </fieldsets>
  </global>
  <admin>
        <routers>
            <marketplace>  
                <use>admin</use>
                <args>
                    <module>Emipro_Marketplace</module>
                    <frontName>marketplace</frontName>
                </args>
            </marketplace>
            <adminhtml>   
                <args>
                    <modules>
                        <Emipro_Marketplace before="Mage_Adminhtml">Emipro_Marketplace_Adminhtml</Emipro_Marketplace>  
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    <translate>
        <modules>
            <Emipro_Marketplace>
                <files>
                    <default>Emipro_Marketplace.csv</default>
                </files>
            </Emipro_Marketplace>
        </modules>
    </translate> 
	    <layout>
			<updates>
				<emipro_marketplace> 
				   <file>marketplace.xml</file>
				</emipro_marketplace>
			</updates>
        </layout>
    </adminhtml>
    <default> 
		<marketplace_setting>
			<marketplace>                
				<sellerinvoice>1</sellerinvoice>
			</marketplace> 
            <marketplace>
                <catalogprice_includes_tax>1</catalogprice_includes_tax>
            </marketplace>
			<marketplace>                
				<maxupload>200</maxupload>         
			</marketplace> 
			<categorycommission>                
				<commission_rate>15</commission_rate>         
			</categorycommission>
            <sellerpanelcolor>                
                <maincolor>#0083d5</maincolor>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <subcolor>#106BBD</subcolor>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <hovercolor>#0076c8</hovercolor>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <activecolor>#106BBD</activecolor>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <textcolor>#FFFFFF</textcolor>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <texthovercolor>#FFFFFF</texthovercolor>         
            </sellerpanelcolor>            
            <sellerpanelcolor>                
                <tabcolor>#B9E1FB</tabcolor>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <tabhovercolor>#84C9F9</tabhovercolor>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <ordertotal>#b6e2ff</ordertotal>         
            </sellerpanelcolor>
            <sellerpanelcolor>                
                <headertext>#585858</headertext>         
            </sellerpanelcolor>                  
		</marketplace_setting>
	</default>
	 <crontab>
        <jobs>
            <marketplace_calculatecredit>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>   
                <run>       
                    <model>marketplace/commission::creditfromOrder</model>
                </run> 
            </marketplace_calculatecredit>
        </jobs>
    </crontab>
</config>  
 
