/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2015-03-18 01:21:53 */

a,a:hover,input.qty,.form-wrap h2,#form-validate h2,.col-main .page-title h2,.sub-title,.data-table .product-name a,.cart-table .link-wishlist,.cart-table .link-wishlist:hover,.btn-remove,.btn-remove:hover,.header-container .links,.mini-cart .qty-price,.mini-cart .totals,.header-container.type4 .mybag-link i,.header-container.type5 .mybag-link i,.header-container.type6 .mybag-link i,.header-container.type6 .menu-icon,.header-container.type7 .mybag-link i,.header-container.type9 .top-links a,.header-container.type9 .mybag-link i,.header-container.type10 .top-links a,.fixed-header ul.menu >li >a,.main-nav ul.menu >li >a,.fixed-header .mybag-link i,.mobile-nav.side-block .sw-mobile-menu li .open-child,.menu.side-menu>li.menu-static-width>a:after,.menu.side-menu>li.menu-item-has-children>a:after,.menu.side-menu>li.menu-full-width>a:after,.mini-products-list li .product-name a:hover,.block-category-nav .category-list a.plus,.col-main.filter-products li.item:hover .price-box .price,.review-area .review-by b,.add-to-cart .qty,.product-tabs>ul li a,.product-view .product-shop .price-box .regular-price .price,.product-view .product-shop .price-box .special-price .price,.cart-table td.td-total .cart-price,.sp-methods .price,.opc .step-title .number,.opc .step-title h2,#opc-review tr td.last .cart-price .price,#wishlist-table .product-name a,#totop,.block.block-related .owl-theme .owl-controls .owl-buttons div,.order-products-table .price,.block-account ul li strong,.block-account ul li a:hover,.block.block-blog-categories a:hover,p .alternative-font,.entry-content h3,.history h4,.block.block-blog-recent ul li a,.postWrapper .post-date .day,.postDetails >span a:hover,.postBookmarks a:hover,.post-share h3,.postComments .postTitle h2,#postComment h4.legend,.cms-index-index .tp-caption.very_large_text,.cms-index-index .tp-caption.large_thin,.cms-index-index .tp-caption.title1,.cms-index-index .tp-caption a.btn-white,.cms-index-index .tp-caption a.btn-white:hover,.slide .product .price,h3.filter-title,.filterproducts-tab .filter-title ul li.active a,.feature-box.secundary .feature-box-icon,.owl-top-narrow .owl-controls .owl-buttons div,.owl-bottom-narrow .owl-controls .owl-buttons div,.recent-posts .post-date .day,.true-color,ul.list.icons li i.icon,.owl-middle-narrow .owl-controls .owl-buttons div,.featured-post h4,.post-a-day,.post-a-year,.owl-theme.banner-carousel .owl-controls .owl-buttons div,.product-options .product-swatches-container .has-swatches a.active,.col-main .page-title h1,.col-main .page-title h2,.product-view .product-options .swatch-attr .select-label,.availability-only strong,.product-image-area .actions a.addtocart,.opc-wrapper-opc a:hover,.opc-wrapper-opc .opc-review-actions .view-agreement:hover,.header-container.type9 .main-nav ul.menu>li.act>a, .header-container.type9 .main-nav ul.menu>li:hover>a,.header-container.type10 .main-nav ul.menu>li.act>a, .header-container.type10 .main-nav ul.menu>li:hover>a,.price-excluding-tax .price,.price-including-tax .price,.checkout-progress li.active,.header-container.type1.sticky-header .menu-wrapper .mybag-link .cart-qty,.header-container.sticky-header .menu-wrapper .mybag-link i,.multiple-checkout .place-order .grand-total .price
    {color:#0088cc}
@-moz-keyframes f_fadeG{0%{background-color:#0088cc}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#0088cc}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#0088cc}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#0088cc}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#0088cc}100%{background-color:#FFFFFF}}
.theme-color{color:#0088cc!important}
.theme-hover-color:hover{color:#0088cc!important}
.theme-bg-color{background-color:#0088cc!important}
.theme-border-color{border-color:#0088cc!important}
.theme-hover-bg-color:hover{background-color:#0088cc}
button.button span,.pager li >a:hover,.pager li >a:focus,.pager .pages .current,.sorter .view-mode strong i,.sorter .view-mode a:hover i,.data-table button.button:hover > span,.link-cart:hover,.header-container.type2 .mybag-link ,.header-container.type5 .top-links-container,.header-container.type6 .top-links-container,.header-container.type7 .top-links-container,.header-container.type8 .top-links-container,.fixed-header ul.menu >li .nav-sublist-dropdown,.main-nav ul.menu >li .nav-sublist-dropdown,.fixed-header ul.menu >li:hover,.main-nav ul.menu >li:hover,.fixed-header ul.menu >li.act,.main-nav ul.menu >li.act,.fixed-header .menu >li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.main-nav .menu >li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.mobile-nav.side-block .sw-mobile-menu li:hover>a,.menu.side-menu>li:hover,.menu.side-menu>li.menu-item-has-children .nav-sublist-dropdown,.menu.side-menu>li.menu-item-has-children .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.block-layered-nav dt:hover:before,.block-category-nav .block-title:hover:before,.price-filter-slider .text-box input.go,.item:hover .details-area .actions a.addtocart,.col-main .category-products .products-list li.item .details-area .actions a.addtocart,.cart .crosssell button.button:hover > span,.cart .discount h2:hover:before,.cart .shipping h2:hover:before,.block.block-facebook-like .block-title a.btn-like,.btn-primary,.contacts-index-index .col-main .contact-info i,.block.block-blog-tags ul li a:hover,.postWrapper .post-date .month,.feature-box .feature-box-icon,.full-screen-slider .item > div.content .sale-bar a .icon-angle-down,.recent-posts .post-date .month,.post-a-month,.owl-theme .owl-controls .owl-page.active span,.footer-ribbon,.owl-theme .owl-controls.clickable .owl-page:hover span,.btn-default,.btn-default:hover,a.quickview-icon,.product-options .product-swatches-container .has-swatches a.active.selected,.cms-index-index blockquote.testimonial,.expand_plus,.review-menu-block a.review-total
{background-color:#0088cc}
.pager li >a:hover,.pager li >a:focus,.pager .pages .current,.sorter .view-mode strong i,.sorter .view-mode a:hover i,.data-table button.button:hover > span,.link-cart:hover,.item:hover .details-area .actions a.addtocart,.col-main .category-products .products-list li.item .details-area .actions a.addtocart,.cart .crosssell button.button:hover > span,.cart .discount h2:hover:before,.cart .shipping h2:hover:before,.btn-primary,i.ajax-loader,#narrow-by-list dd .swatch-link:hover .swatch-label,.configurable-swatch-list .hover .swatch-link,.configurable-swatch-list .selected .swatch-link,.swatch-link:hover,.block-layered-nav #narrow-by-list ol.swatches li a:hover .layered-navigation-swatch,.product-image-area .actions a.addtocart,.opc-wrapper-opc #opc-review-block,#newsletter_popup
{border-color:#0088cc}
.form-wrap,#form-validate,.option-detail .item-options,.header-container.type2,.header-container.type4,.fixed-header .menu >li.menu-full-width .nav-sublist-dropdown,.main-nav .menu >li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu >li.menu-static-width .nav-sublist-dropdown,.main-nav .menu >li.menu-static-width .nav-sublist-dropdown,.block.block-subscribe.home-sidebar-block,.product-tabs>ul li.active,.history .featured-box .box-content,.homepage-grid-banner .ribbon:before,.owl-banner-carousel .content.type2 h2,.featured-box .box-content,.cms-index-index .testimonial-arrow-down,#success-message-container,.checkout-progress li.active,.form-wrap,#form-validate,#login-form
{border-top-color:#0088cc}
.topCartContent:before,.availability-only span,.availability-only a,.prev-next-products .product-nav .product-pop:before
{border-bottom-color:#0088cc}
.opc-wrapper-opc #opc-review-block:before
{border-bottom-color:#0088cc !important}
.menu.side-menu>li .nav-sublist-dropdown
{
    border-left-color:#0088cc}
@media (max-width: 1199px){
    .owl-banner-carousel .content.type2 h2{border-top-color:#0088cc}
}
@media (max-width: 991px){
    .header-container.type5 .top-links-icon,.header-container.type5 .top-links-icon a{color:#0088cc}
    .owl-banner-carousel .content.type2 h2{border-top-color:#0088cc}
}
@media (max-width: 767px){
    .owl-banner-carousel .content.type2 h2{border-top-color:#0088cc}
}
.header-container.type1 ul.links a,.header-container.type1 .search-area>a,.header-container.type1 .selectbox .select,.header-container.type1 .welcome-msg,.header-container.type1 .top-links-icon,.header-container.type1 .top-links-icon a,.header-container.type1 .menu-icon a,
.header-container.type2 .selectbox .select,.header-container.type2 .welcome-msg,.header-container.type2 .top-links ul.links a,.header-container.type2 .top-links-icon,
.header-container.type3 .selectbox .select,.header-container.type3 .welcome-msg,.header-container.type3 .top-links ul.links a,.header-container.type3 .top-links-icon,.header-container.type3 .top-links-icon a,
.header-container.type4 .selectbox .select,.header-container.type4 .welcome-msg,.header-container.type4 .top-links ul.links a,.header-container.type4 .top-links-icon,
.header-container.type5 .welcome-msg,.header-container.type5 .selectbox .select,
.header-container.type6 .selectbox .select,.header-container.type6 .welcome-msg,.header-container.type6 .top-links ul.links a,.header-container.type6 .top-links-icon,.header-container.type6 .top-links-icon a,
.header-container.type7 .selectbox .select,.header-container.type7 .welcome-msg,.header-container.type7 .top-links ul.links a,.header-container.type7 .top-links-icon,.header-container.type7 .top-links-icon a,
.header-container.type9 .selectbox .select,.header-container.type9 .welcome-msg,.header-container.type9 .top-links ul.links a,.header-container.type9 .top-links-icon,.header-container.type9 .top-links-icon a,
.header-container.type10 .selectbox .select,.header-container.type10 .welcome-msg,.header-container.type10 .top-links ul.links a,.header-container.type10 .top-links-icon,.header-container.type10 .top-links-icon a,
.header-container.type8 .selectbox .select,.header-container.type8 .welcome-msg,.header-container.type8 .top-links ul.links a,.header-container.type8 .header .search-area>a.search-icon,.header-container.type8 .top-links-icon,.header-container.type8 .top-links-icon a,.header-container.type8 .header .search-area a.search-icon,header-container.type8 .menu-icon a,.header-container.type2 .compare-link>a,.header-container.type3 .compare-link>a,.header-container.type4 .compare-link>a,.header-container.type5 .compare-link>a,.header-container.type6 .compare-link>a,.header-container.type7 .compare-link>a,.header-container.type8 .compare-link>a,.header-container.type9 .compare-link>a,.header-container.type10 .compare-link>a{
    color:#777777;
}
.header-container.type1,
.header-container.type2,
.header-container.type3,
.header-container.type4,
.header-container.type5,
.header-container.type6,
.header-container.type7,
.header-container.type8,
.header-container.type9,
.header-container.type10,
.header-container.type1.sticky-header .header-wrapper,
.header-container.type2.sticky-header .header-wrapper,
.header-container.type4.sticky-header .header-wrapper,
.header-container.type5.sticky-header .header-wrapper,
.header-container.type6.sticky-header .header-wrapper,
.header-container.type7.sticky-header .header-wrapper,
.header-container.type8.sticky-header .header-wrapper,
.header-container.type9.sticky-header .header-wrapper,
.header-container.type11.sticky-header .header-wrapper{
    background-color:#ffffff;
}
        .header{
        color:#777777;
        }
            .header a{
        color:#777777;
        }
    .header-container.type1 .main-nav ul.menu>li>a,
.header-container.type2 .main-nav ul.menu>li>a,
.header-container.type3 .main-nav ul.menu>li>a,
.header-container.type4 .main-nav ul.menu>li>a,
.header-container.type5 .main-nav ul.menu>li>a,
.header-container.type6 .main-nav ul.menu>li>a,
.header-container.type7 .main-nav ul.menu>li>a,
.header-container.type8 .main-nav ul.menu>li>a,
.header-container.type9 .main-nav ul.menu>li>a,
.header-container.type10 .main-nav ul.menu>li>a{
    color:#0088cc;
}
.header-container.type1 .main-nav ul.menu>li:hover,.header-container.type1 .main-nav ul.menu>li.act,
.header-container.type2 .main-nav ul.menu>li:hover,.header-container.type2 .main-nav ul.menu>li.act,
.header-container.type3 .main-nav ul.menu>li:hover,.header-container.type3 .main-nav ul.menu>li.act,
.header-container.type4 .main-nav ul.menu>li:hover,.header-container.type4 .main-nav ul.menu>li.act,
.header-container.type5 .main-nav ul.menu>li:hover,.header-container.type5 .main-nav ul.menu>li.act,
.header-container.type6 .main-nav ul.menu>li:hover,.header-container.type6 .main-nav ul.menu>li.act,
.header-container.type7 .main-nav ul.menu>li:hover,.header-container.type7 .main-nav ul.menu>li.act,
.header-container.type8 .main-nav ul.menu>li:hover,.header-container.type8 .main-nav ul.menu>li.act,
.header-container.type9 .main-nav ul.menu>li:hover,.header-container.type9 .main-nav ul.menu>li.act,
.header-container.type10 .main-nav ul.menu>li:hover,.header-container.type10 .main-nav ul.menu>li.act{
    background-color:#0088cc;
}
.header-container.type1 .main-nav ul.menu>li:hover>a,.header-container.type1 .main-nav ul.menu>li.act>a,
.header-container.type2 .main-nav ul.menu>li:hover>a,.header-container.type2 .main-nav ul.menu>li.act>a,
.header-container.type3 .main-nav ul.menu>li:hover>a,.header-container.type3 .main-nav ul.menu>li.act>a,
.header-container.type4 .main-nav ul.menu>li:hover>a,.header-container.type4 .main-nav ul.menu>li.act>a,
.header-container.type5 .main-nav ul.menu>li:hover>a,.header-container.type5 .main-nav ul.menu>li.act>a,
.header-container.type6 .main-nav ul.menu>li:hover>a,.header-container.type6 .main-nav ul.menu>li.act>a,
.header-container.type7 .main-nav ul.menu>li:hover>a,.header-container.type7 .main-nav ul.menu>li.act>a,
.header-container.type8 .main-nav ul.menu>li:hover>a,.header-container.type8 .main-nav ul.menu>li.act>a,
.header-container.type9 .main-nav ul.menu>li:hover>a,.header-container.type9 .main-nav ul.menu>li.act>a,
.header-container.type10 .main-nav ul.menu>li:hover>a,.header-container.type10 .main-nav ul.menu>li.act>a{
    color:#ffffff;
}
.header-container.type1 .mini-cart .mybag-link,
.header-container.type11 .mini-cart .mybag-link,
.header-container.type2 .mini-cart .mybag-link,
.header-container.type8 .header .mini-cart{
    background-color:#eeeeee;
}
.header-container.type1 .selectbox .select,
.header-container.type1 .top-links-icon,
.header-container.type11 .selectbox .select,
.header-container.type8 .selectbox .select{
    background-color:#eeeeee;
    border-color:#eeeeee;
}
.header-container.type1 .compare-link > a,
.header-container.type8 .compare-link > a,
.header-container.type11 .compare-link > a{
    background-color:#eeeeee;
}
.header-container.type1 .mybag-link,.header-container.type1 .selectbox .select,.header-container.type1 .compare-link > a,
.header-container.type1 .top-links-icon,
.header-container.type11 .mini-cart .mybag-link,.header-container.type11 .selectbox .select,.header-container.type11 .compare-link > a,
.header-container.type2 .mybag-link,
.header-container.type3 .mybag-link, .header-container.type3 .mybag-link .cart-qty,
.header-container.type4 .mybag-link,
.header-container.type5 .mybag-link,
.header-container.type6 .mybag-link,
.header-container.type7 .mybag-link,
.header-container.type8 .mybag-link,.header-container.type8 .mybag-link .cart-info,.header-container.type8 .selectbox .select,.header-container.type18 .compare-link > a,
.header-container.type9 .mybag-link, .header-container.type9 .mybag-link .cart-qty,
.header-container.type10 .mybag-link, .header-container.type10 .mybag-link .cart-qty,
.header-container.type3.sticky-header .menu-wrapper .mybag-link .cart-qty{
    color:#777777;
}
.header-container.type1 .mybag-link i,.header-container.type1 .compare-link > a i,
.header-container.type11 .mini-cart .mybag-link i,.header-container.type11 .compare-link > a i,
.header-container.type2 .mybag-link i,
.header-container.type3 .mybag-link i,
.header-container.type4 .mybag-link i,
.header-container.type5 .mybag-link i,
.header-container.type6 .mybag-link i,
.header-container.type7 .mybag-link i,
.header-container.type8 .mybag-link i,.header-container.type8 .compare-link > a i,
.header-container.type9 .mybag-link i,
.header-container.type10 .mybag-link i,
.header-container.type3.sticky-header .menu-wrapper .mybag-link i{
    color:#777777;
}
.main-nav .menu>li.menu-full-width .nav-sublist-dropdown,.main-nav .menu>li.menu-static-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-full-width .nav-sublist-dropdown,.fixed-header .menu>li.menu-static-width .nav-sublist-dropdown{
    border-color:#0088cc;
}
.main-nav ul.menu>li .nav-sublist-dropdown,.main-nav .menu>li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist,.fixed-header ul.menu>li .nav-sublist-dropdown,.fixed-header .menu>li.menu-item .nav-sublist-dropdown .container ul .menu-item-has-children .nav-sublist{
    background-color:#0088cc;
}
.main-nav a,.fixed-header a{
    color:#ffffff;
}
.fixed-header .menu>li.menu-item-has-children .nav-sublist-dropdown .container ul >li:hover >a,
.main-nav .menu>li.menu-item-has-children .nav-sublist-dropdown .container ul>li:hover>a,.menu.side-menu li.menu-item-has-children .nav-sublist-dropdown .container ul>li:hover>a{
    background-color:#0099e6;
}
.fixed-header a:hover,
.main-nav a:hover{
    color:#ffffff;
}
.footer-ribbon{
    background-color:#3b3b3b;
}
.footer-ribbon:before{
    border-right-color:#222222;
}
.footer-bottom{
    background-color:#ffffff;
}
#totop{
}
#totop:hover{
}
