<?xml version="1.0"?>
<config>
    <modules>
        <Fuel_Bulkorderform>
            <version>0.1.0</version>
        </Fuel_Bulkorderform>
    </modules>
    <frontend>
        <routers>
            <bulkorderform>
                <use>standard</use>
                <args>
                    <module>Fuel_Bulkorderform</module>
                    <frontName>bulkorderform</frontName>
                </args>
            </bulkorderform>
        </routers>
        <layout>
            <updates>
                <bulkorderform>
                    <file>bulkorderform.xml</file>
                </bulkorderform>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bulkorderform>
				<use>admin</use>
				<args>
					<module>Fuel_Bulkorderform</module>
					<frontName>bulkorderform</frontName>
				</args>
			</bulkorderform>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<bulkorderform module="bulkorderform">
				<title>Bulkorder</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="bulkorderform">
						<title>Manage Bulkorder</title>
						<sort_order>0</sort_order>
						<action>bulkorderform/adminhtml_bulkorderform</action>
					</items>
				</children>
			</bulkorderform>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Fuel_Bulkorderform>
							<title>Bulkorderform Module</title>
							<sort_order>10</sort_order>
						</Fuel_Bulkorderform>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bulkorderform>
					<file>bulkorderform.xml</file>
				</bulkorderform>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bulkorderform>
                <class>Fuel_Bulkorderform_Model</class>
                <resourceModel>bulkorderform_mysql4</resourceModel>
            </bulkorderform>
            <bulkorderform_mysql4>
                <class>Fuel_Bulkorderform_Model_Mysql4</class>
                <entities>
                    <bulkorderform>
                        <table>bulkorderform</table>
                    </bulkorderform>
                </entities>
            </bulkorderform_mysql4>
        </models>
        <resources>
            <bulkorderform_setup>
                <setup>
                    <module>Fuel_Bulkorderform</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bulkorderform_setup>
            <bulkorderform_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bulkorderform_write>
            <bulkorderform_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bulkorderform_read>
        </resources>
        <blocks>
            <bulkorderform>
                <class>Fuel_Bulkorderform_Block</class>
            </bulkorderform>
        </blocks>
        <helpers>
            <bulkorderform>
                <class>Fuel_Bulkorderform_Helper</class>
            </bulkorderform>
        </helpers>
    </global>
</config>