<config>
    <modules>
        <Emipro_Existingproduct>
            <version>1.0.0</version>
        </Emipro_Existingproduct>
    </modules>
    <global>   
    	<helpers>
    		<existingproduct>
            	<class>Emipro_Existingproduct_Helper</class>
        	</existingproduct>
    	</helpers>
    	<blocks>
        	<existingproduct>
            	<class>Emipro_Existingproduct_Block</class>
        	</existingproduct>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Emipro_Existingproduct_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml>
    	</blocks>
        <models>
            <existingproduct>
                <class>Emipro_Existingproduct_Model</class>
            </existingproduct>
            <catalog_resource>
                <rewrite>
                    <product_collection>Emipro_Existingproduct_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource> 
        </models>
        <resources>
            <existingproduct_setup>
                <setup>
                    <module>Emipro_Existingproduct</module>
                </setup>
            </existingproduct_setup>
        </resources>
        
	</global>
	<adminhtml>
        <layout>
            <updates>
                <existingproduct>
                    <file>existingproduct.xml</file>
                </existingproduct>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <existingproduct>
                        <class>existingproduct/observer</class>
                        <method>productsavebefore</method>
                    </existingproduct>
                </observers>
            </catalog_product_save_before>
            <adminhtml_block_html_before>
                <observers>
                    <emipro_existingproduct>
                        <class>existingproduct/observer</class>
                        <method>adminhtml_block_html_before</method>
                    </emipro_existingproduct>
                </observers>
            </adminhtml_block_html_before>
            <catalog_model_product_duplicate>
                <observers>
                    <emipro_existingproduct>
                        <class>existingproduct/observer</class>
                        <method>duplicateproduct</method>
                    </emipro_existingproduct>
                </observers>
            </catalog_model_product_duplicate>
            <core_block_abstract_to_html_before>
                 <observers>
                    <emipro_existingproduct>
                      <class>existingproduct/observer</class>
                      <method>addcolumnproductgrid</method>
                    </emipro_existingproduct>
                 </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <emipro_existingproduct>
                        <class>existingproduct/observer</class>
                        <method>updateproductcollection</method>
                    </emipro_existingproduct>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>

<!-- After modules-->
	<admin> 
		<routers>
			<adminhtml>
				<args>
	                <modules>                    
	                	<Emipro_Existingproduct before="Mage_Adminhtml">Emipro_Existingproduct_Adminhtml</Emipro_Existingproduct>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>
</config>
