<?xml version="1.0"?>
<config>
    <modules>
        <Webkul_Geolocationcc>
            <version>1.0.1</version>
        </Webkul_Geolocationcc>
    </modules>	
    <global>
        <helpers>
            <geolocationcc>
                <class>Webkul_Geolocationcc_Helper</class>
            </geolocationcc>
        </helpers>
        <blocks>
             <geolocationcc>
                <class>Webkul_Geolocationcc_Block</class>
             </geolocationcc>
             <tax>
                <rewrite>
                    <checkout_grandtotal>Webkul_Geolocationcc_Block_Checkout_Grandtotal</checkout_grandtotal>
                </rewrite>
                <rewrite>
                    <checkout_subtotal>Webkul_Geolocationcc_Block_Checkout_Subtotal</checkout_subtotal>
                </rewrite>
            </tax>
        </blocks>
    </global>
	<frontend>
        <layout>
            <updates>
                <geolocationcc>
                    <file>geolocationcc.xml</file>
                </geolocationcc>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webkul_Geolocationcc>
                    <files>
                        <geolocationcc>geolocationcc_translate.csv</geolocationcc>
                    </files>
                </Webkul_Geolocationcc>
            </modules>
        </translate>
    </frontend>
	 <adminhtml>
        <acl>
            <resources> 
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <geolocationcc>
                                            <title>Extras Section by webkul</title>
                                            <sort_order>50</sort_order>
                                        </geolocationcc>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Webkul_Geolocationcc>
                    <files>
                        <geolocationcc>geolocationcc_translate.csv</geolocationcc>
                    </files>
                </Webkul_Geolocationcc>
            </modules>
        </translate>
    </adminhtml>	
</config>